*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@font-face {
  font-family: 'Sono';
  src: url('./Sono/Sono-VariableFont_MONO\,wght.ttf');
}

body {
    display: grid;
    padding: 1rem;
    height: 100vw;
    grid-template: 4rem 1fr / 1fr 1fr;
    gap: 8px;
}

body, button {
    font-family: Sono;
}

.hidden {
    display: none;
}
.grid {
    display: grid;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-content: center;
    backdrop-filter: brightness(0.6);
}

#modalElements {
    border: 2px solid black;
    background-color: white;
    padding: 1rem;
}

.toDoInputs {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: center;
    border-bottom: 1px solid black;
    padding: 0 8em;
}

#sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#sidebar, #projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selected {
    background-color: #73a9ea;
}

#projects > div {
    padding: 0.5rem;
    border-left: 1px solid black;
}

#projects button {
    width: 20%;
    margin: 2px 6px;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
}

main div {
    padding: 1rem;
    border-radius: 8px;
    flex: auto;
}

main div button {
    width: 50%;
    max-width: 8rem;
}