*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.hidden {
    display: none;
}
.grid {
    display: grid;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-content: center;
    backdrop-filter: brightness(0.6);
}

#modalElements {
    border: 2px solid black;
    background-color: white;
    padding: 1rem;
}

.toDoInputs {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}